@model IEnumerable<BancoArmarinho.Models.ContaPagarModel>
@{
        ViewData["Title"] = "ContaPagar";
    }


<br />
<h3>Lista de Contas a Pagar: </h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(i => i.Codigo)</th>
            <th>@Html.DisplayNameFor(i => i.Descricao)</th>
            <th>@Html.DisplayNameFor(i => i.Data)</th>
            <th>@Html.DisplayNameFor(i => i.Valor)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (ContaPagarModel item in Model)
{
        <tr>
            <td>@Html.DisplayFor(itemModel => item.Codigo)</td>
            <td>@Html.DisplayFor(itemModel => item.Descricao)</td>
            <td>@Html.DisplayFor(itemModel => item.Data)</td>
            <td>@Html.DisplayFor(itemModel => item.Valor)</td>
            <td>@Html.ActionLink("Alterar", "Adiciona", "ContaPagar", new { id = item.Codigo }, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Excluir", "Excluir", "ContaPagar", new { id = item.Codigo }, new { @class = "btn btn-primary", onclick = "return confirm ('Deseja Excluir?')" })</td>
        </tr>
        }
    </tbody>
</table>
